body {
    color: #595959;
}
a {
    color: inherit;
    text-decoration: none;
}
.default-btn {
    display: inline-block;
    width: 170px;
    box-shadow: 0 0 5px #bbb;
    padding: 10px 20px;
    border: 2px solid $white;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin: 30px 0 0;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 700;
     position: relative;
            z-index: 10;
    transition: 0.2s ease-in-out;
    &:hover {
        color: $theme;
        background-color: $white;
    }
}

.container {
    width: 1400px;
    margin: 0 auto;
}

input, textarea, select {
    &:focus {
        outline: none;
        // border: 1px solid $theme !important;
    }
}
.primary-btn {
   border: none;
            background-color: $theme;
            color: white;
            font-size: 15px;
            font-weight: 700;
            display: block;
            margin: 60px auto 0;
            box-shadow: 0 0 4px #aaa;
            padding: 20px;
            box-sizing: border-box;
            width: 100%;
            transition: 0.25s ease-in-out;
           
            &:hover {
                cursor: pointer;
                color: $theme;
                background-color: $white;
            }
}
.card-title {
    text-transform: uppercase;
    font-size: 14px;
    // letter-spacing: 1px;
    margin-bottom: 25px;
    color: #666;
}
.card {
    padding: 30px;
    background-color: $white;
    box-sizing: border-box;
    box-shadow: 0 0 4px #aaa;
}
.icon {
    position: relative;
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.icon-fill-gray {
    path, polygon {
        fill: #ccc !important;
        transition: 0.2s;        
    }
}
.icon-hover-fill-gray {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        path, polygon {
            fill: #888 !important;
        }
    }
    
}